<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Préférences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" [text]="Retour"></ion-back-button>
        </ion-buttons>
      <ion-title>Paramètres - Préférences</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>

  <br>
  <ion-list-header>Votre niveau</ion-list-header>
  <br>

  <ion-item>
    <ion-label style="font-size:20px">Débutant</ion-label>
    <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
  </ion-item>

    <ion-item>
      <ion-label style="font-size:20px">Intermédiaire</ion-label>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label style="font-size:20px">Expert</ion-label>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
    </ion-item>

    <br>
    <ion-list-header>Instruments</ion-list-header>
    <br>

    <ion-item>
      <ion-checkbox slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Guitare Accoustique</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Guitare Éléctrique</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Batterie</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Piano</ion-label>
    </ion-item>

    <br>
    <ion-list-header>Genres préférés</ion-list-header>
    <br>


    <ion-item>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Rock</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Métal</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Pop</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Éléctronique</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Blues</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="end" id="checkbox"></ion-checkbox>
      <ion-label style="font-size:20px">Hip Hop</ion-label>
    </ion-item>
  </ion-list>
