<ion-header>
  <ion-toolbar>
    <ion-title>
      Artist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="center" size="large">Nom de l'artiste</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="details">
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail class="imageTaille" >
          <img class="imageTaille" src="{{ data.images[0].url }}" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <h2 class="genre">Genre</h2>
        <ul *ngFor="let genre of data.genres" >
          <li>{{ genre }}</li>
        </ul>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
  </div>

  <div class="populaires">
    <h2>Populaires</h2>
    <ion-list>
      <ion-item>
        <ion-label>1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
