
.toolbar-container{
    text-align: center;
}

.imageTaille{
    width: 7rem;
    height: 7rem;
    max-width: 100%!important;
    max-height: 100%!important;
}

.details{
    margin-top: 10%;
}

.genre{
    text-align: center;
    margin-top: 0;
}

h2{
    margin-top: 0;
}

p{
    text-align: center;
}

.populaires{
    margin-top: 40px;
    text-align: center;
}

ion-label{
    text-align: center;
}