<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Partition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title-center">Believer V1</ion-title>
      <br>
      <ion-title size="medium">Imagine Dragons </ion-title>
      <br>
      <ion-title size="medium">Tablature par Didier Bernard</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-img src="../../assets/img/believer.png"></ion-img>
</ion-content>
