<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoris</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
      <ion-segment value="all">
          <ion-segment-button value="all" (click)="testas()">
            <ion-label>Titres</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites" (click)="testos()">
            <ion-label>Artistes</ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>


<ion-virtual-scroll [items]="lists" [headerFn]="seperateLetter()">
    <ion-item-divider *virtualHeader="let header">
      <ion-label> {{ header }}</ion-label>
    </ion-item-divider>
        <ion-item *virtualItem="let list">
          <ion-avatar> <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"/></ion-avatar>
          <ion-label id="titre" >titre {{list.name}} artiste {{list.lastname}} </ion-label>
        </ion-item>
</ion-virtual-scroll>
    


</ion-content>
