<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

<br><br>

<div>
  <h3 class="left">Récents</h3> <br>
  <ion-row class="scrollHori ion-nowrap">
    <ion-col size="4">
      <div >
        <ion-avatar class="center" >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son</p>
      </div>
    </ion-col>

    <ion-col href="facebook.com" size="4">
      <div>
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 2 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 3 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 4 </p>
      </div>

    </ion-col>

  </ion-row>
</div>

<div>
  <h3 class="left">Artistes préférés</h3> <br>
  <ion-row class="scrollHori ion-nowrap">
    <ion-col size="4">
      <div>
        <ion-thumbnail class="center" >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-thumbnail>
        <p> Artiste</p>
      </div>
    </ion-col>

    <ion-col href="facebook.com" size="4">
      <div>
        <ion-thumbnail >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-thumbnail>
        <p> Artiste 2 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-thumbnail >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-thumbnail>
        <p> Artiste 3 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-thumbnail >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-thumbnail>
        <p> Artiste 3 </p>
      </div>
    </ion-col>

  </ion-row>
</div>


<div>
  <h3 class="left">Populaires</h3> <br>
  <ion-row class="scrollHori ion-nowrap">
    <ion-col size="4">
      <div >
        <ion-avatar class="center" >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 1</p>
      </div>
    </ion-col>

    <ion-col href="facebook.com" size="4">
      <div>
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 2 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> son 3 </p>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="center">
        <ion-avatar >
          <img class="imageTaille" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="max-width:2.5rem;max-height:2.5rem;">
        </ion-avatar>
        <p> truc 4 </p>
      </div>

    </ion-col>

  </ion-row>
</div>

</ion-content>
