ion-row {
  text-align: center;
  // white-space: nowrap;
  // overflow-x: auto !important;
}

center{
  margin: auto;
}

.hydrated{
  margin: auto;
}

.left{
  margin-left: 35px;
}

.imageTaille{
  width: 3.5rem;
  height: 3.5rem;
  max-width: 100%!important;
  max-height: 100%!important;
}

.scrollHori{
  overflow-x:scroll;
}
.scrollHori::-webkit-scrollbar {
  display: none;
}

ion-icon{
  color: black;
}

.title-center{
  text-align: center;
}