ion-back-button{
	background: black;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
	font-size: 20px;
}

.item-inner {
margin-top: 20px;
}


#fleche{
	font-size: 25px;
	margin-left: 53vw;
}

#toggle{
	--background: grey;
	--background-checked: rgb(20, 209, 20);
  	--handle-background: white;
	--handle-background-checked: white;
}