<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" [text]="Retour"></ion-back-button>
        </ion-buttons>
      <ion-title size="large">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>

<br><br>

  <div>
    <ion-list>
      <ion-item>
        <ion-router-link href="preferences">
          <ion-row>
              <ion-label style="font-size:20px">Préférences</ion-label>
              <ion-icon name="chevron-forward-outline" id="fleche"></ion-icon>
          </ion-row>
        </ion-router-link>
      </ion-item>
      <ion-item>
              <ion-label style="font-size:20px">Mode gaucher</ion-label>
              <ion-toggle id="toggle"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label style="font-size:20px">Noter l'application</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size:20px">Contacter le support</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size:20px">Conditions d'utilisation</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="font-size:20px">Politique de confidentialité</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
